<section id="news" class="p-5">
  <div class="news-heading" style="text-align: center">
    <h1>News</h1>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div *ngFor="let newsItem of newsArticles" class="col-md-3">
        <div class="card m-2" style="width: 18rem; height: 25rem">
          <div class="card-header">{{ newsItem.source.name }}</div>
          <img
            class="card-img-top"
            src="{{ newsItem.urlToImage }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">{{ title }}</h5>
            <p class="card-text">
              {{ newsItem.title }}
            </p>
          </div>
          <div class="card-footer text-muted">{{ newsItem.author }}</div>
        </div>
      </div>
    </div>
  </div>
</section>
