#visitorsForms {
  background-color: #eeeeee;
  min-height: 100vh;
}

.visitor-heading {
  text-align: center;
  font-weight: bolder;
  color: #112771;
}

.btn-primary {
  margin-top: 2em;
}

.card-layout {
  padding: 5em;
  border: solid;
}
.inputs {
  margin: 0.5em;
}
