#visitorsForms {
  background-color: #eeeeee;
  min-height: 100vh;
}

.visitor-heading {
  text-align: center;
  font-weight: bolder;
  color: #112771;
}

.btn-primary {
  margin-top: 2em;
}

.card-layout {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 7em;
  padding-right: 7em;
  border: solid;
}
